
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

This is the Exact Online Document Uploader. It provides an easy way to upload a large amount of documents to Exact at once. Simply place the documents in the Dropbox/Apps/ExactDocumentUploader directory and press the following link:<br /><br />

@Html.ActionLink("Start", "AuthorizeDropbox", "Dropbox")